@import "material-color";
@import "vueMinesweeper";

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 4.5rem;
}

// Silhouette
.provider {
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 4px;
  outline: none;
}
.facebook { background: #3B5998; }
.google { background: #D14836; }
.twitter { background: #00ACED; }
.yahoo { background: #731A8B; }
.xing { background: #006567; }
.vk { background: #567ca4; }

.social-providers,
.sign-in-now,
.already-member,
.not-a-member {
  text-align: center;
  margin-top: 20px;
}
// --- Silhouette

.start_box{
  display: inline-table;
  margin-top: 40px;
  background-color: #e3e3e3;
}

.tui {
  font-family: Lucida Console, monospace
}

.game-controls {
  margin: 1rem 0;

  &__dropdown-change-difficulty {
    display: inline-block;
  }
}

.wrapper__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  overflow-x: auto;

}

.grid {
  --gridWidth: 20;
  --gridHeight: 10;

  grid-template-columns: repeat(var(--gridWidth), 2.5rem);
  grid-template-rows: repeat(var(--gridHeight), 2.5rem);

  display: grid;
  grid-gap: 5px;
  align-items: stretch;
  justify-items: stretch;
  align-content: space-between;
  justify-content: center;

  width: auto;

  background-color: @clr-grey-600;

  padding: 2rem;
  border-radius: 1rem;

  &__cell {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;

    border-radius: 0.3rem;

    &:hover {
      text-decoration: none;
    }

    &--closed {
      box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.4);
      background-color: @clr-blue;
    }
    &--revealed {
      box-shadow: inset 0 2px 5px 1px rgba(0, 0, 0, 0.4);
      background-color: @clr-white;
      font-weight: bold;
    }
    &--flagged {
      background-color: @clr-yellow;
      color: @clr-red;
    }
    &--mine {
      background-color: @clr-red;
    }
    &--surrounding {

    }
  }
  &__content {

  }
  &__mine {
    height: 80%;
    width: 80%;
  }
  &__flag {
    height: 80%;
    width: 80%;
  }
  &__number {
    font-size: 1.5rem;

    &--0 {
      color: @clr-white;
    }
    &--1 {
      color: @clr-blue-300;
    }
    &--2 {
      color: @clr-green;
    }
    &--3 {
      color: @clr-red-300;
    }
    &--4 {
      color: @clr-blue-600;
    }
    &--5 {
      color: @clr-red-600;
    }
    &--6 {
      color: @clr-cyan;
    }
    &--7 {
      color: @clr-black;
    }
    &--8 {
      color: @clr-grey;
    }
  }
}

.game-status {
  margin: 1rem 0;
}