@import minesweeper.model.ICell
@import minesweeper.model.IGrid
@(grid: IGrid[ICell], tuiString: String)

@main("Minesweeper") {
  <script src="@routes.Assets.versioned("javascripts/vue.js")" ></script>
  <script src="@routes.Assets.versioned("/javascripts/game.js")" type="text/javascript"></script>

  <script src="@routes.Assets.versioned("javascripts/gameVue.js")" ></script>

  <div id="minesweeper-game" class="pagecontainer">
    <minesweeper-controls></minesweeper-controls>
    <minesweeper-field :field="wsField"></minesweeper-field>
    <minesweeper-state :state="wsState"></minesweeper-state>
  </div>

  <div class="game-status text-center"></div>
}