@import minesweeper.model.ICell
@import minesweeper.model.IGrid
@(grid: IGrid[ICell], tuiString: String)

@main("Minesweeper") {
  <script src="@routes.Assets.versioned("javascripts/vue.js")" ></script>
  <script src="@routes.Assets.versioned("javascripts/gameVue.js")" ></script>

  @game_controls()
  @wrapper__grid(grid)

  <div id="minesweeper-game" class="pagecontainer">
    <minesweeper-controls></minesweeper-controls>
  </div>

  <div class="game-status"></div>

  <script src="@routes.Assets.versioned("/javascripts/game.js")" type="text/javascript"></script>
}