@()
<div class="game-controls text-center">
  <button type="button" class="btn btn-primary game-controls__new-game" id="btn__new-game">New Game</button>

  <div class="game-controls__dropdown-change-difficulty">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-change-difficulty" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Change Difficulty
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdown-change-difficulty">
      <a class="dropdown-item" id="btn__change-difficulty--easy">Easy</a>
      <a class="dropdown-item" id="btn__change-difficulty--intermediate">Intermediate</a>
      <a class="dropdown-item" id="btn__change-difficulty--hard">Hard</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" id="btn__change-difficulty--custom">Custom...</a>
    </div>
  </div>
</div>