@import minesweeper.model.ICell
@(cell: ICell)
@if(cell.isOpened) {

}
<a class="grid__cell
  @if(cell.isFlag) {grid__cell--flagged}
  @if(cell.isOpened) {grid__cell--revealed}
  @if(cell.isClosed) {grid__cell--closed}
  @if(cell.isOpened && cell.isMine) {grid__cell--mine}"
href="/minesweeper/o @cell.getRow @cell.getCol">

@if(cell.isOpened) {
  @if(cell.isMine) {
    <div class="grid__content grid__mine">@(cell.toString)</div>
  } else {
    <div class="grid__content grid__number grid__number--@cell.getMines">@(cell.toString)</div>
  }
}else{
  @if(cell.isFlag){
    <img class="grid__content grid__flag" src="@routes.Assets.versioned("images/flag.svg")">
  }else{
    <div class="grid__content grid__empty"></div>
  }
}
</a>

