@(user: Option[User])
@main("History of Minesweeper", user) {

  <div class="text-center">
    <div class="jumbotron text-center start_box box-shadow">
      <h1>History of Minesweeper</h1>
      <hr class="my-4">
      <img style="float:left; margin-right:20px;" src="@routes.Assets.versioned("/images/example_minesweeper.png")">
      <p style="text-align: justify;">
        Minesweeper has its origins in the earliest mainframe games of the 1960s and 1970s. The earliest ancestor of Minesweeper was Jerimac Ratliff's Cube. The basic gameplay style became a popular segment of the puzzle game genre during the 1980s, with such titles as Mined-Out (Quicksilva, 1983), Yomp (Virgin Interactive, 1983), and Cube. Cube was succeeded by Relentless Logic (or RLogic for short), by Conway, Hong, and Smith, available for MS-DOS as early as 1985; the player took the role of a private in the United States Marine Corps, delivering an important message to the U.S. Command Center. RLogic had greater similarity to Minesweeper than to Cube in concept, but a number of differences exist:
      </p>

    </div>
  </div>


}
