@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@import controllers.AssetsFinder
@import play.api.i18n.Messages

@(socialProviders: SocialProviderRegistry, user: Option[User])(implicit messages: Messages, assets: AssetsFinder)

@main(messages("sign.in.title"), user) {
    <fieldset class="col-md-6 col-md-offset-3">

        @if(socialProviders.providers.nonEmpty) {
            <div class="social-providers">
                <p>@messages("or.use.social")</p>
                <div>
                @for(p <- socialProviders.providers) {
                    <a href="@controllers.routes.SocialAuthController.authenticate(p.id)" class="provider @p.id" title="@messages(p.id)"><img src="@assets.path(s"images/providers/${p.id}.png")" width="64px" height="64px" alt="@messages(p.id)"></a>
                }
                </div>
            </div>
        }

    </fieldset>
}
